@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
body {
  font-family: 'Inconsolata', monospace;
}
#react-app {
  max-width: 700px;
  margin: auto;
  border: 1px blue dashed;
  padding: 20px;
}
label {
  margin-right: 2px;
}
.input {
  margin-right: 15px;
}
.input--error {
  color: red;
  border: 1px red;
}
pre {
  font-family: 'Inconsolata', monospace;
  border: 1px blue dashed;
  background-color: #f5f5ff;
  min-height: 500px;
  padding: 5px;
}
